/* 
    Document   : id
    Created on : Aug 15, 2014, 3:17:34 PM
    Author     : swethamorthala
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
    
}
body{
     font-family:'Trebuchet MS';
        font-size: 14px;
        font-weight:normal;
        color:#003399 ;
         background-color: whitesmoke;
}
    
div.add_employee {     
    height:80%;
    width:60%;
    margin-left:20%;
    margin-right:20%;
    margin-top:10%; 
    background-color:#B3B4BD;
    padding-top:2%;
    border-top:50px solid gainsboro;
     border-bottom:50px solid gainsboro;
}
div.add_employee h3{
    
    text-align: center;
    
    
}
p{
    color:red;
 display: list-item;
         
}
ul{
  padding-left: 35%;
  display: list-item;  
 list-style-type:inherit;
}
div.content
{
      height:110%;
        width: 80%;
	margin-left: 15%;
        margin-right: 15%;
        background-color:gainsboro;
        
}


div.button, div.buttons
{
        
	clear : left;
	display : block;
        line-height: 35px;
        padding:3px 3px;
	margin-left:40%;
        
}
div.buttons{
    width:35%;
   margin-left:36%;
    
}

div.button input, div.buttons input{
    
    background-color:#ff3300;
    border-radius:12px 12px 12px 12px;
    margin:5px ;
    color:white;
    
    
}
label {
        
        width:200px;
        clear:left;
        text-align:right;
        padding-right:15px;
        
}
input:hover{
    border: 1px solid #ff6600;   
}
 input{
     margin-right:8%;
    border: 1px solid white; 
    width:45%;
    height: 40px;
    
}

input, label {
        
        float:left;
        line-height:30px;
         padding:7px 7px;
   
}
div.table 
{
    margin-top: 5%;
    margin-left: 10%; 
    margin-right:10%;
}
div.table tr th{
    width:10%;
    background-color:#0066ff;
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    color: white;
    font-family:'Trebuchet MS';
        font-size: 14px;
        font-weight:normal;
        line-height: 30px;
         
}
div.table tr td {
    height: 35px;
    border: 1px solid white; 
    padding: 10px 10px 10px 10px;
    border-spacing:25px;
    color:#333333;
}
div.table tr:nth-child(even) td {
    background-color:#ccccff;
}
div.table tr:nth-child(odd) td {
       background-color:#ffffff;
}

div.table a{
    color:#333333;
    text-decoration: none;
}
div.footer {
	width : 100%;
	height:25%;
	padding-top: 4%;
}

